- provide(:title, "Log in")

.container
  .row.justify-content-center
    .col-md-6
      .card.mx-auto.mt-5.p-5.shadow
        %h1.text-center Log in

        = form_for :session, url: login_path do |f|
          .form-group
            = f.label :email
            = f.email_field :email, class: "form-control"
            %small.form-text.text-muted We'll never share your email with anyone else

          .form-group
            = f.label :password
            = f.password_field :password, class: "form-control"

          = f.submit "Log in", class: "btn btn-primary"

        = link_to "Sign up", signup_path
